.card img {
  background-color: lightgray;
}

.card:hover {
  border: 3px solid #9273d2;
  transform: scale(1.15);
  transition: 0.5s;
  z-index: 1000;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar{
  background-color: #9273d2;
}

.text-white{
  background-color: #9273d2;
}

.collapse{
  background-color: #9273d2;
}

strong{
  color: white;
}

.Botao{
  color: #51c9e7;
}